/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height:80px

}

html{
    scroll-behavior: smooth;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}

/* Logo & Image */
#logo{
    margin: 34px 45 px;

}
#logo img{
    height: 59px;
    margin: 3px 6px;
}

/* List Styling */
#navbar{
    position:sticky;

}
#navbar ul{
    display: flex;
    font-family: 'Vollkorn', serif;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 1;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 30px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 100px ;
    height: 680px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url(pink.jpeg) no-repeat center center/cover;
    position: absolute;
    height: 97%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;

}
#home p{
    color:white;
    text-shadow: 5px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Vollkorn', serif;

}
/* Services section */
#services{
    margin: 10px;
    display: flex;
}
#services .box{
    margin:auto;
    border: 4px solid bisque;
    display:block;
    padding: 34px;
    margin: 25px 6px;
    border-radius: 23px;
    background-color: beige;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-size: 1.5rem;
}

/* Clients Section */
#client-section{
    height: 344px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url();
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
    height: 124px;
}

/* Login Section */
#login{
    position: relative;
}
#login::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    background: bisque no-repeat center center/cover;
}
#login-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#login-box input{
    width:100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem; 
}
#login-box form{
    width:40% ;
}
#login-box label{
    font-size: 1.3rem;
}

/* Contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(contact.jpeg) no-repeat center center/cover;
}
#contact-box{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem; 
    border-radius: 9px;
    font-size: 1.1rem; 
}
#contact-box form{
    width:40% ;
}
#contact-box label{
    font-size: 1.3rem;
}

/* Footer section */
footer{
    background:black ;
    color: aliceblue;
    padding: 9px 20px;
}

/* Utility classes */
.h-primary{
    font-size: 3.8rem;
    padding: 12px ;
    font-family:'Archivo Black', sans-serif;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px ;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color:bisque;
    color:black;
    margin:17px;
    width:fit-content;
    font-size:1.5rem ;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}